body {
    background-color: rgb(132, 133, 236);
    font: normal 15pt arial;
   
}
header {
    color: aliceblue;
    text-align: center;
}
section{
    
    background-color: rgb(154, 236, 236);
    border-radius: 15px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 8px 8px 10px black;
    height: auto;
}
select#flista {
    width: 150px;
}
div {
    color: rgb(7, 122, 223);
    
}
footer {
    color: aliceblue;
}